<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container my-5">
    <h1 class="text-center mb-4">About Us</h1>
    <p>We are an E-commerce website that provides a variety of products to our customers. Our aim is to provide a seamless shopping experience and high-quality products at affordable prices. We believe in customer satisfaction and strive to exceed your expectations.</p>
</div>
<!--<div th:replace="~{footer :: footer}"></div>-->
</body>
</html>
